.Button {
	display: block;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

.bg-primary {
	background-color: #3448fa;
}

.bg-secondary {
	background-color: #777777;
}

.bg-warning {
	background-color: #fffc3d;
}

.bg-danger {
	background-color: #f84444;
}

.bg-info {
	background-color: #16d6a6;
}

.bg-light {
	background-color: #fff;
}

.bg-dark {
	background-color: #000;
}

.color-light {
	color: #fff;
}

.color-dark {
	color: #000;
}
