.checkbox-container {
	/* display: block; */
	position: relative;
	height: 18px;
	width: 18px;
	margin: 10px;
	/* padding-left: 35px;
	margin-bottom: 12px; */
	cursor: pointer;
	font-size: 22px;
	/* width: 0; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: relative;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	border-radius: 4px;
	border: 2px solid #bdbdbd;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
}

.checkbox-container:hover input ~ .checkmark {
	background-color: rgba(145, 219, 151, 0.7);
}

.checkbox-container:hover input ~ .checkmark:after {
	display: block;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: #4ada56;
	border-color: #4ada56;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 25%;
	top: 7%;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
