.Typography.light {
	color: #fff;
}
.Typography.h1 {
	margin: 0;
	font-size: 6rem;
	line-height: 1.1;
	/* letter-spacing: ; */
}
.Typography.h2 {
	margin: 0;
	font-size: 4rem;
	line-height: 1.2;
	/* letter-spacing: ; */
}
.Typography.h3 {
	margin: 0;
	font-size: 3rem;
	line-height: 1.3;
	/* letter-spacing: ; */
}
.Typography.h4 {
	margin: 0;
	font-size: 2.5rem;
	line-height: 1.4;
	/* letter-spacing: ; */
}
.Typography.h5 {
	margin: 0;
	font-size: 2rem;
	line-height: 1.5;
	/* letter-spacing: ; */
}
.Typography.h6 {
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.6;
	/* letter-spacing: ; */
}
.Typography.body {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	/* letter-spacing: ; */
}
.Typography.subtitle {
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.57;
	/* letter-spacing: ; */
}
.Typography.button {
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.75;
	font-weight: 600;
	text-transform: uppercase;
	/* letter-spacing: ; */
}
.Typography.caption {
	margin: 0;
	font-size: 0.75rem;
	line-height: 1.66;
	font-weight: 400;
	/* letter-spacing: ; */
}
